
/* Demo Import */

.ai-confirm-import-content #swal2-content {
    text-align: left !important;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

.swal2-popup {
    width: 50rem !important;
    display: flex;
}

.swal2-title {
    font-size: 28px !important;
    margin: 20px 0 !important;
}

.ai-confirm-import-content #swal2-content {
    width: 85% !important;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
    font-size: 14px !important;
    border: 0;
    border-radius: .25em;
    background: initial;
    color: #fff;
    font-size: 1.0625em;
    padding: 15px 40px;
    border-radius: 45px !important;
}

.swal2-styled.swal2-confirm {
    background: #45c396 !important;
}

.swal2-styled.swal2-cancel {
    background: #ea7070 !important;
}


.swal2-popup #swal2-content p {
    padding-left: 20px;
    padding-right: 13px;
    width: 75%;
    margin: 0 auto;
    line-height: 1.8;
    margin-bottom: 20px !important;
    font-size: 14px;
    font-weight: 400;
}

.swal2-toast #swal2-content p {
     width: 100% !important;
     margin-bottom: 0 !important;
}

.theme-blogson .ocdi__gl-item-container .ocdi__gl-item:last-child {
    pointer-events: none;
}


#spiraclethemes-site-library-notice-id p .button {
	display: table;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px 25px;
    border: none;
    background: #3582c4;
    color: #fff;
}

#spiraclethemes-site-library-notice-id p {
	text-align: center;
	font-size: 17px;
    font-weight: 500;
}

#spiraclethemes-site-library-notice-id {
	padding: 30px 150px;
    background-color: #000;
    color: #fff;
    border-left: none;
}


#spiraclethemes-site-library-notice-id .notice-dismiss:before {
    background: 0 0;
    color: #fff;
    content: "\f153";
    display: block;
    font: normal 16px/20px dashicons;
    speak: never;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.rating-div.updated {
	padding: 70px 250px;
    background-color: #f0f6fc;
    color: #555;
    border: none;
    border-left: 5px solid #3582c4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating-div.updated a {
	color: #555;
}

.appearance_page_one-click-demo-import #spiraclethemes-site-library-notice-id {
	display: none !important;
}

@media only screen and (max-width: 767px) {

	#spiraclethemes-site-library-notice-id {
		padding: 70px 70px;
	}

}

#spiraclethemes-site-library-notice {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

#spiraclethemes-site-library-notice p {
    margin: 0 0 15px 0;
    padding: 0 15px;
}

#spiraclethemes-site-library-notice a.button {
    display: block;
    width: auto;
    max-width: 220px;
    padding: 8px 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: #5e5ee5;
    border-color: #5e5ee5;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#spiraclethemes-site-library-notice a.button:hover {
    background-color: #4a4ad7;
    border-color: #4a4ad7;
}

#spiraclethemes-site-library-notice .notice-dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    color: #999;
    border: none;
    background: none;
    cursor: pointer;
}

.ssl-notice,
.ssl-pro-upgrade-notice {
    padding: 25px !important;
    color: #000;
    border: none !important;
    background: none;
    background: #fff !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) !important;
}

#spiraclethemes-site-library-notice .notice-dismiss:before {
    content: '\00d7';
    font-size: 20px;
    line-height: 1;
}

#spiraclethemes-site-library-notice .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

/* Balloon animation for offer notices */
.ssl-pro-upgrade-notice {
    position: relative;
    overflow: hidden;
    background: #fff !important;
}

.ssl-pro-upgrade-notice .balloon {
    position: absolute;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    animation: float 10s infinite ease-in-out;
    opacity: 0.7;
    z-index: 0;
    bottom: -50px;
}

.ssl-pro-upgrade-notice .balloon:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background: #ffd166;
}

/* Position 1 (10% from left) - Red balloons */
.ssl-pro-upgrade-notice .balloon.pos-1 {
    background: #ff6b6b;
    width: 30px;
    height: 40px;
    left: 10%;
}
.ssl-pro-upgrade-notice .balloon.pos-1:nth-child(6n+1) { animation-delay: 0s; }
.ssl-pro-upgrade-notice .balloon.pos-1:nth-child(6n+2) { animation-delay: 1s; }
.ssl-pro-upgrade-notice .balloon.pos-1:nth-child(6n+3) { animation-delay: 2s; }
.ssl-pro-upgrade-notice .balloon.pos-1:nth-child(6n+4) { animation-delay: 3s; }
.ssl-pro-upgrade-notice .balloon.pos-1:nth-child(6n+5) { animation-delay: 4s; }
.ssl-pro-upgrade-notice .balloon.pos-1:nth-child(6n+6) { animation-delay: 5s; }

/* Position 2 (20% from left) - Teal balloons */
.ssl-pro-upgrade-notice .balloon.pos-2 {
    background: #4ecdc4;
    width: 25px;
    height: 35px;
    left: 20%;
}
.ssl-pro-upgrade-notice .balloon.pos-2:nth-child(6n+7) { animation-delay: 0.5s; }
.ssl-pro-upgrade-notice .balloon.pos-2:nth-child(6n+8) { animation-delay: 1.5s; }
.ssl-pro-upgrade-notice .balloon.pos-2:nth-child(6n+9) { animation-delay: 2.5s; }
.ssl-pro-upgrade-notice .balloon.pos-2:nth-child(6n+10) { animation-delay: 3.5s; }
.ssl-pro-upgrade-notice .balloon.pos-2:nth-child(6n+11) { animation-delay: 4.5s; }
.ssl-pro-upgrade-notice .balloon.pos-2:nth-child(6n+12) { animation-delay: 5.5s; }

/* Position 3 (40% from left) - Orange balloons */
.ssl-pro-upgrade-notice .balloon.pos-3 {
    background: #ff9f1c;
    width: 20px;
    height: 30px;
    left: 40%;
}
.ssl-pro-upgrade-notice .balloon.pos-3:nth-child(6n+13) { animation-delay: 1s; }
.ssl-pro-upgrade-notice .balloon.pos-3:nth-child(6n+14) { animation-delay: 2s; }
.ssl-pro-upgrade-notice .balloon.pos-3:nth-child(6n+15) { animation-delay: 3s; }
.ssl-pro-upgrade-notice .balloon.pos-3:nth-child(6n+16) { animation-delay: 4s; }
.ssl-pro-upgrade-notice .balloon.pos-3:nth-child(6n+17) { animation-delay: 5s; }
.ssl-pro-upgrade-notice .balloon.pos-3:nth-child(6n+18) { animation-delay: 6s; }

/* Position 4 (70% from left) - Purple balloons */
.ssl-pro-upgrade-notice .balloon.pos-4 {
    background: #6a0572;
    width: 35px;
    height: 45px;
    left: 70%;
}
.ssl-pro-upgrade-notice .balloon.pos-4:nth-child(6n+19) { animation-delay: 1.5s; }
.ssl-pro-upgrade-notice .balloon.pos-4:nth-child(6n+20) { animation-delay: 2.5s; }
.ssl-pro-upgrade-notice .balloon.pos-4:nth-child(6n+21) { animation-delay: 3.5s; }
.ssl-pro-upgrade-notice .balloon.pos-4:nth-child(6n+22) { animation-delay: 4.5s; }
.ssl-pro-upgrade-notice .balloon.pos-4:nth-child(6n+23) { animation-delay: 5.5s; }
.ssl-pro-upgrade-notice .balloon.pos-4:nth-child(6n+24) { animation-delay: 6.5s; }

/* Position 5 (80% from left) - Green balloons */
.ssl-pro-upgrade-notice .balloon.pos-5 {
    background: #1a936f;
    width: 28px;
    height: 38px;
    left: 80%;
}
.ssl-pro-upgrade-notice .balloon.pos-5:nth-child(6n+25) { animation-delay: 2s; }
.ssl-pro-upgrade-notice .balloon.pos-5:nth-child(6n+26) { animation-delay: 3s; }
.ssl-pro-upgrade-notice .balloon.pos-5:nth-child(6n+27) { animation-delay: 4s; }
.ssl-pro-upgrade-notice .balloon.pos-5:nth-child(6n+28) { animation-delay: 5s; }
.ssl-pro-upgrade-notice .balloon.pos-5:nth-child(6n+29) { animation-delay: 6s; }
.ssl-pro-upgrade-notice .balloon.pos-5:nth-child(6n+30) { animation-delay: 7s; }

@keyframes float {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-300px) translateX(300px) rotate(360deg);
        opacity: 0;
    }
}

.ssl-pro-upgrade-notice .notice-content {
    position: relative;
    z-index: 1;
}